<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <!-- Include Angular and several angular libraries -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-resource/angular-resource.min.js"></script>

    <!-- Include our app -->
    <script src="js/app.js"></script>
    <!-- Include our own controllers, factories, directives, etc... -->
    <script src="js/filesModelDirective.js"></script>
    <script src="js/images.rest.js"></script>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

<div ng-app="imageuploadFrontendApp" ng-controller="MainCtrl">
    <form class="form" name="form" ng-submit="uploadImage()">
        <input type="file" files-model="newImage.image">
        <button type="submit">Save</button>
    </form>

    <div ng-repeat="image in images track by image.pk">
        <h3>Image {{ image.pk }}</h3>
        <a href="{{ image.image }}">{{ image.image }}</a><br />
        <a ng-click="deleteImage(image)">!! Delete</a><br />
        <img ng-src="{{ image.image }}" width="800">
    </div>
</div>

</body>
</html> 