<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <!-- Include Angular and several angular libraries -->
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-resource/angular-resource.min.js"></script>
    <script src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angularjs-toaster/toaster.js"></script>

    <!-- Include our app -->
    <script src="js/app.js"></script>
    <!-- Include our own controllers, factories, directives, etc... -->
    <script src="js/images.rest.js"></script>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

    <!-- Include AngularJS Toaster CSS -->
    <link rel="stylesheet" href="node_modules/angularjs-toaster/toaster.min.css">
</head>
<body>

<div class="container-fluid">
    <div ng-app="imageuploadFrontendApp" ng-controller="MainCtrl">
        <toaster-container></toaster-container>
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form" name="form" ng-submit="uploadImage()">
                    <div class="form-group">
                        <label for="file">Select an Image</label>
                        <input type="file" ngf-select ng-model="newImage.image" name="file"
                               class="form-control"
                               accept="image/*" ngf-max-size="10MB" required
                               ngf-model-invalid="errorFile">
                        <i ng-show="form.file.$error.maxSize">File too large
                            {{ errorFile.size / 1000000 | number:1 }} MB: max 10M</i>
                        <img ng-show="form.file.$valid" ngf-thumbnail="newImage.image" class="img-responsive" style="max-width: 50%">
                        <button class="btn btn-warning" ng-click="newImage.image = null" ng-show="newImage.image">Remove</button>
                    </div>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" id="title" class="form-control" ng-model="newImage.title">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" class="form-control" ng-model="newImage.description"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit">
                        Upload
                    </button>
                </form>
            </div>
        </div>

        <div ng-if="images.length == 0">
            There are no images available yet. Why don't you go ahead and upload one?
        </div>

        <!-- display the images -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" ng-repeat="image in images track by image.pk">
                <h3>
                    {{ image.title }}
                    <button class="btn btn-warning" ng-click="deleteImage(image)">Delete</button>
                </h3>
                <a href="{{ image.image }}">
                    <img class="img-responsive" ng-src="{{ image.thumbnail }}">
                    <p>{{ image.description }}</p>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html> 